<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/images/icon.png"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Gamerland 5</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/main.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/cfg.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/imageblur.css" />
    <script src="/javascripts/main.js" async defer></script>
    <script src="/javascripts/fd-inputs.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"
    rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
</head>
<body>
    <p id="warning-banner"><%=warning%></p>
    <!--Kodet av Frikk Balder Ormestad Larsen 2021-->
    <!--
        
        Alle tekstbokser og animasjoner
        er designet av Frikk, med det hjemmelagede
        fd-design biblioteket. Dette er en kombinasjon av
        CSS-stiler og JS-kode, som utgjør en stor del
        av interaktiviteten på denne nettsiden.
        
        Kodet for Erlend Solerød.

    -->

    <div id="header">
        <div class="right">
            <!--<button class="button header-button fd-design outline" onclick="showLoginModal(this)">Logg inn</button> Denne funksjonen er ikke lagt til ennå-->
            <button class="button header-button fd-design solid white" onclick="showRegisterModal(this)">Bli med</button>
            <!--
            <div class="login-box smooth-shadow">
                <p>Logg inn på gamerland</p>
                <form>
                    <label class="fd-text-input">
                        <input type="text" class="fd-text-input__action">
                        <div class="fd-text-input__indicator"></div>
                        <span class="fd-text-input__title">brukernavn</span>
                    </label>
                    <label class="fd-text-input">
                        <input type="password" class="fd-text-input__action">
                        <div class="fd-text-input__indicator"></div>
                        <span class="fd-text-input__title">Passord</span>
                    </label>

                    <button class="fd-design button blue smooth-shadow" onclick="signInClient(event)">logg inn</button>
                </form>
            </div>-->

            <div class="register-box smooth-shadow">
                <div class="scroll-container">

                    <p>Spør om tilgang</p>
                    <form>
                        <label class="fd-text-input">
                            <input type="text" class="fd-text-input__action" autocomplete="minecraft-username">
                            <div class="fd-text-input__indicator"></div>
                            <span class="fd-text-input__title">Minecraft-brukernavn</span>
                            <p class="fd-text-input__warning smooth-shadow">Det er viktig at minecraft-brukernavnet er helt identisk med brukernavnet ditt in-game</p>
                        </label>
                        <p style="color: rgba(0,0,0,0.6); text-align: center;
                        width: 80%; margin:auto; margin-top: 2rem;">Om du har en discord-bruker, kan du skrive den inn her for å søke om å komme inn i discordgruppa.</p>
                        <label class="fd-text-input">
                            <input type="text" class="fd-text-input__action" autocomplete="discord-username" placeholder="steve#0001">
                            <div class="fd-text-input__indicator"></div>
                            <span class="fd-text-input__title">Discord-brukernavn</span>
                        </label>

                        
                        <button class="fd-design button blue smooth-shadow" onclick="registerUser(event)" disabled>Send inn</button>
                        
                        <div class="info">
                            <i class="material-icons-outlined">info</i><span>Når forespørselen blir godkjent, vil du få beskjed i <b>verifisering</b>-kanalen på discord. Husk å sjekke denne jevnlig.</b> <br><br> <strong>Merk - denne funksjonen er slått av</strong></span>
                        </div>
                    </form>
                </div>
                <button class="close-button" onclick="closeRegisterBox(this)">&#10006;</button>
            </div>


        </div>
    </div>
    <div id="top">
        <img class="main-background-image"></img>
        <img class="blurred-preview"></img>
        <div class="content">
            <div id="countdown-timer"></div>
            <div class="title">
                <p>mc.gamerland.no</p>
            </div>

            <div class="body">
                <ul>
                    <li class="is-online">loading</li>
                    <!--<li class="ping">loading</li>-->
                    <li class="players">loading</li>
                </ul>
            </div>
            <div class="button-wrapper">
                <button class="button fd-design white rounded smooth-shadow" onclick="showRegisterModal(document.querySelector('#header > div > button'))">Bli med</button>
            </div>
        </div>
    </div>
    <div id="content"></div>
    
    <div id="white-box" class="smooth-shadow">
        <div class="arrow-indicator"><i class="material-icons">expand_less</i></div>
        <div class="image-display"><img src="/images/iconLightThemeIsland.png"></div>
        <button onclick="document.body.querySelector('#white-box').classList.toggle('show'); toggleFastenButton(this);" class="fasten-white-box button fd-design smooth-shadow"><i class="material-icons">lock_open</i><span>Fest fanen</span></button>
        <div class="wrapper">
            <div class="action-buttons-wrapper">
                <div class="action-button" name="curseforge" onclick="showCardContents(this)"><img src="/images/iconCurseForge.png"><p>CurseForge</p></div>
                <div class="action-button" name="mods" onclick="showCardContents(this)"><img src="/images/iconMods.png"><p>Mods</p></div>
                <div class="action-button" name="map" onclick="showCardContents(this)"><img src="/images/iconMap.png"><p>Map</p></div>
                <div class="action-button" name="datapacks" onclick="showCardContents(this)"><img src="/images/iconDataPacks.png"><p>Data Packs</p></div>
            </div>
            <div class="connector-ribbon">
                <div class="top"></div>
                <div class="middle"></div>
                <div class="bottom"></div>
            </div>
            <div class="card-content-wrapper">
    
            </div>
        </div>  
    </div>
    <div id="acknowledge-modal">
        <div class="pane">
            <div class="wrapper">
                <div class="text">
                    <p class="draft">Versjon 2</p>
                    <h1>Hei! Det er noe du burde vite.</h1>
                    <p><strong>Gamerland 5 har nylig byttet hostingplatform.</strong> For deg som allerede spiller på serveren er nok livet det samme gamle, og du kan se bort ifra denne meldingen.</p>
                    <p>Om du er på denne nettsiden for å søke om å komme inn, er du dessverre på feil sted. Denne funksjonaliteten vil være slått av per <strong style="text-decoration: underline;">21.08.2021</strong>.</p>
                    <p>For å bli whitelistet må du kontakte<kbd class="small">Shiro-Hiragi#3792</kbd>.</p>
                    <br>
                    <p>Om du ønsker å være med i discord-serveren, anbefales det at du kontakter en kamerat som allerede er med, eller en av følgende server-administratorer:</p>
                    <ul>
                        <li>Erland#6320</li>
                        <li>Shiro-Hiragi#3792</li>
                        <li>Nousy_#2991</li>
                        <li>Sigg#1129</li>
                    </ul>
                    
                    <p style="margin-top: 2rem;">Etter at du trykker på <button class="fd-design button white smooth-shadow" style="margin: 0 1rem; transform: none !important;">lukk</button> nedenfor i denne boksen, vil den ikke vises igjen.</p>
                    <p>Alternativt kan du trykke på <button class="fd-design button outline" style="margin: 0 1rem; transform: none !important;">vis neste gang</button> for å vise denne boksen neste gang du besøker nettsiden.</p>
                </div>
                
                <button onclick="closeConsentModal()" class="fd-design button smooth-shadow white close">Lukk</button>
                <button onclick="delayConsentModal()" class="fd-design button outline delay">Vis neste gang</button>
            </div>
        </div>

    </div>
    <script src="/socket.io/socket.io.js"></script>
    
</body>
</html>