<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Gamerland 5</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/main.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/cfg.css" />
    <script src="/javascripts/main.js"></script>
    <script src="/javascripts/fd-inputs.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"
    rel="stylesheet">
</head>
<body>

    <!--Kodet av Frikk Balder Ormestad Larsen 2021-->
    <!--
        
        Alle tekstbokser og animasjoner
        er designet av Frikk, med det hjemmelagede
        fd-design biblioteket. Dette er en kombinasjon av
        CSS-stiler og JS-kode, som utgjør en stor del
        av interaktiviteten på denne nettsiden.
        
        Kodet for Erlend Solerød.

    -->

    <div id="header">
        <div class="right">
            <button class="button header-button fd-design outline" onclick="showLoginModal(this)">Logg inn</button>
            <button class="button header-button fd-design solid white" onclick="showRegisterModal(this)">Registrer</button>

            <div class="login-box smooth-shadow">
                <p>Logg inn på gamerland</p>
                <form>
                    <label class="fd-text-input">
                        <input type="text" class="fd-text-input__action">
                        <div class="fd-text-input__indicator"></div>
                        <span class="fd-text-input__title">brukernavn</span>
                    </label>
                    <label class="fd-text-input">
                        <input type="password" class="fd-text-input__action">
                        <div class="fd-text-input__indicator"></div>
                        <span class="fd-text-input__title">Passord</span>
                    </label>

                    <button class="fd-design button blue smooth-shadow" onclick="signInClient(event)">logg inn</button>
                </form>
            </div>

            <div class="register-box smooth-shadow">
                <div class="scroll-container">

                    <p>Registrer en bruker</p>
                    <form>
                        <label class="fd-text-input">
                            <input type="text" class="fd-text-input__action" autocomplete="minecraft-username">
                            <div class="fd-text-input__indicator"></div>
                            <span class="fd-text-input__title">Minecraft-brukernavn</span>
                            <p class="fd-text-input__warning smooth-shadow">Det er viktig at minecraft-brukernavnet er helt identisk med brukernavnet ditt in-game</p>
                        </label>
                        
                        <label class="fd-text-input">
                            <input type="email" class="fd-text-input__action" autocomplete="email">
                            <div class="fd-text-input__indicator"></div>
                            <span class="fd-text-input__title">Email</span>
                        </label>
                        
                        <label class="fd-text-input">
                            <input type="password" class="fd-text-input__action" autocomplete="new-password">
                            <div class="fd-text-input__indicator"></div>
                            <span class="fd-text-input__title">passord</span>
                        </label>
                        
                        <label class="fd-text-input">
                            <input type="password" class="fd-text-input__action" autocomplete="new-password">
                            <div class="fd-text-input__indicator"></div>
                            <span class="fd-text-input__title">Gjenta passord</span>
                        </label>
                        
                        <button class="fd-design button blue smooth-shadow" onclick="registerUser(event)">Registrer bruker</button>
                        
                        <div class="info">
                            <i class="material-icons-outlined">info</i><span>Denne funksjonen er under arbeid</span>
                        </div>
                    </form>
                </div>
                <button class="close-button" onclick="closeRegisterBox(this)">&#10006;</button>
            </div>


        </div>
    </div>
    <div id="top">
        <div class="content">
            <div class="title">
                <p>Velkommen til</p>
                <p>Gamerland 5</p>
            </div>

            <div class="body">
                <!--<p>Der morra di er mann</p>-->
            </div>
            <div class="button-wrapper">
                <button class="button fd-design white rounded smooth-shadow" onclick="showContent();">Sjekk ut</button>
            </div>
        </div>
    </div>
    <div id="content">



        <div id="webpage-content">
            <div id="guides">
                <div class="guide-button smooth-shadow"><img src="./images/curseforge.png"><span>CurseForge</span></div>
                <div class="guide-button smooth-shadow"><img src="./images/mods.png"><span>Mods</span></div>
                <div class="guide-button smooth-shadow"><img src="./images/vc.png"><span>Voice chat</span></div>
                <div class="guide-button smooth-shadow"><img src="./images/map.png"><span>Map</span></div>

            </div>
        </div>
        <div class="wrapper">
            <!--
            <div class="sign">
                <img src="/images/sign.png" class="smooth-shadow">
                <p>Serverstatus</p>
            </div>
        
            <div class="status">
                <div class="sign">
                    <img src="/images/sign.png" class="smooth-shadow">
                    <p class="server-online">Laster...</p>
                </div>
                <div class="sign">
                    <img src="/images/sign.png" class="smooth-shadow">
                    <p class="players-online">Laster...</p>
                </div>
            </div>
        -->

        </div>

        <!--
        <div id="under-construction">
            <p>Denne siden er under konstruksjon</p>
        </div>
    -->

    <div id="user-list">

    </div>


        <div id="footer">
            <div class="right">
                <p>Utviklet av Erlend Solerød og Frikk Ormestad Larsen</p>
            </div>
        </div>
    </div>

</body>
</html>