<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/images/icon.png"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Gamerland 5</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/main.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/cfg.css" />
    <script src="/javascripts/main.js"></script>
    <script src="/javascripts/fd-inputs.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"
    rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
</head>
<body>
    <p id="warning-banner"><%=warning%></p>
    <!--Kodet av Frikk Balder Ormestad Larsen 2021-->
    <!--
        
        Alle tekstbokser og animasjoner
        er designet av Frikk, med det hjemmelagede
        fd-design biblioteket. Dette er en kombinasjon av
        CSS-stiler og JS-kode, som utgjør en stor del
        av interaktiviteten på denne nettsiden.
        
        Kodet for Erlend Solerød.

    -->

    <div id="header">
        <div class="right">
            <!--<button class="button header-button fd-design outline" onclick="showLoginModal(this)">Logg inn</button> Denne funksjonen er ikke lagt til ennå-->
            <button class="button header-button fd-design solid white" onclick="showRegisterModal(this)">Bli med</button>
            <!--
            <div class="login-box smooth-shadow">
                <p>Logg inn på gamerland</p>
                <form>
                    <label class="fd-text-input">
                        <input type="text" class="fd-text-input__action">
                        <div class="fd-text-input__indicator"></div>
                        <span class="fd-text-input__title">brukernavn</span>
                    </label>
                    <label class="fd-text-input">
                        <input type="password" class="fd-text-input__action">
                        <div class="fd-text-input__indicator"></div>
                        <span class="fd-text-input__title">Passord</span>
                    </label>

                    <button class="fd-design button blue smooth-shadow" onclick="signInClient(event)">logg inn</button>
                </form>
            </div>-->

            <div class="register-box smooth-shadow">
                <div class="scroll-container">

                    <p>Spør om tilgang</p>
                    <form>
                        <label class="fd-text-input">
                            <input type="text" class="fd-text-input__action" autocomplete="minecraft-username">
                            <div class="fd-text-input__indicator"></div>
                            <span class="fd-text-input__title">Minecraft-brukernavn</span>
                            <p class="fd-text-input__warning smooth-shadow">Det er viktig at minecraft-brukernavnet er helt identisk med brukernavnet ditt in-game</p>
                        </label>
                        <p style="color: rgba(0,0,0,0.6); text-align: center;
                        width: 80%; margin:auto; margin-top: 2rem;">Om du har en discord-bruker, kan du skrive den inn her for å søke om å komme inn i discordgruppa.</p>
                        <label class="fd-text-input">
                            <input type="text" class="fd-text-input__action" autocomplete="discord-username" placeholder="steve#0001">
                            <div class="fd-text-input__indicator"></div>
                            <span class="fd-text-input__title">Discord-brukernavn</span>
                        </label>

                        
                        <button class="fd-design button blue smooth-shadow" onclick="registerUser(event)">Send inn</button>
                        
                        <div class="info">
                            <i class="material-icons-outlined">info</i><span>Denne funksjonen er under arbeid</span>
                        </div>
                    </form>
                </div>
                <button class="close-button" onclick="closeRegisterBox(this)">&#10006;</button>
            </div>


        </div>
    </div>
    <div id="top">
        <div class="content">
            <div class="title">
                <p>mc.gamerland.no</p>
            </div>

            <div class="body">
                <ul>
                    <li class="is-online">loading</li>
                    <!--<li class="ping">loading</li>-->
                    <li class="players">loading</li>
                </ul>
            </div>
            <div class="button-wrapper">
                <button class="button fd-design white rounded smooth-shadow" onclick="showRegisterModal(document.querySelector('#header > div > button'))">Bli med</button>
            </div>
        </div>
    </div>
    <div id="content"></div>
    
    <div id="white-box" class="smooth-shadow">
        <div class="arrow-indicator"><i class="material-icons">expand_less</i></div>
        <div class="image-display"><img src="/images/iconLightThemeIsland.png"></div>
        <div class="wrapper">
            <div class="action-buttons-wrapper">
                <div class="action-button" name="curseforge" onclick="showCardContents(this)"><img src="/images/iconCurseForge.png"><p>CurseForge</p></div>
                <div class="action-button" name="mods" onclick="showCardContents(this)"><img src="/images/iconMods.png"><p>Mods</p></div>
                <div class="action-button" name="map" onclick="showCardContents(this)"><img src="/images/iconMap.png"><p>Map</p></div>
                <div class="action-button" name="voicechat" onclick="showCardContents(this)"><img src="/images/iconVoiceChat.png"><p>Voice Chat</p></div>
            </div>
            <div class="connector-ribbon">
                <div class="top"></div>
                <div class="middle"></div>
                <div class="bottom"></div>
            </div>
            <div class="card-content-wrapper">
    
            </div>
        </div>  
    </div>
    <script src="/socket.io/socket.io.js"></script>

</body>
</html>