<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/cfg.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/iframe.css" />
</head>
<body>

    <h1> Curseforge guide</h1>
    <p>Før du følger denne guiden bør du allerede ha minecraft installert</p>
    
    <p>Gå inn på <a href="https://www.curseforge.com">curseforge.com</a>, trykk på "Get desktop", på siden du kommer til kan du trykke "download for windows" eller "download for macOS" hvis du bruker det</p>
    <img src="/images/guides/guideCurseforge1.png">
    
    <p>Kjør installeren du lastet ned, og følg alle stegene</p>
    <img src="/images/guides/guideCurseforge2.png">
    
    <p>Når du har startet programmet vil du få opp en liste med spill, trykk på minecraft for å installere den</p>
    <img src="/images/guides/guideCurseforge3.png">
    
    <p>Når minecraft er installert anbefaler vi å gi inn i instillinger, som man finner nederst på venstre side, og trykke på minecraft. Her kan du stille inn hvor mye RAM spillet kan bruke, hvor mye du setter inn her kommer an på hvor mye ram du har i pcen din, men vi anbefaler i minstefall 3-4GB</h4>
    <img src="/images/guides/guideCurseforge4.png">
    
    <p>Hvis du går ut av instillinger, og trykker på minecraft i listen over spill ser du at du ikke har noen modpacks. Trykk på browse modpack og skriv inn gamerland. Velg Gamerland V Official</p>
    <img src="/images/guides/guideCurseforge5.png">
    
    <p>Nå er du klar til å spille!</p>
    <script>
        function showImage(e) {
            var modal = document.createElement("div");
            modal.className = "modal";
            document.body.appendChild(modal);

            var img = document.createElement("img");
            img.src = e.target.src;
            modal.appendChild(img);

            modal.addEventListener("click", (e)=>{
                e.target.closest(".modal").parentNode.removeChild(e.target.closest(".modal"));
            })
        }

        window.onload = function() {
            //Get all image elements, allow fullscreen viewing
            var imgs = document.body.getElementsByTagName("img");

            var x;
            for(x of imgs) {
                x.addEventListener("click", showImage);
            }
        }
    </script>
</body>
</html>