<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/cfg.css" />
</head>
<body>
    <h1 class="white">Her pågår det byggingsarbeid...</h1>
    <p>Det kan hende det er mer å se om en liten stund!</p>
</body>
</html>