<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/cfg.css" />
</head>
<body>
    <h1 styleclass="white">Voice Chat</h1>
    <h2>Introduksjon til voice chat på gamerland</h2>
    <p>Gamerland 5 har innebygget proximity voice chat, dette vil si at man kan snakke med hverandre i spillet.    </p>
    <p>Lyden baserer seg på avstand, så du kan snakke med folk som er i nærheten av deg. Man kan også lage grupper hvis man vil det. </p>
    <p style="position: fixed; bottom: 0rem; right: 1rem; opacity: 0.5;"> Work in progress</p>
</body>

</html>