<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/cfg.css" />
</head>
<body>
    <h1 class="white">Her pågår det byggingsarbeid...</h1>
    <p>Det kan hende det er mer å se om en liten stund!</p>
    <p style="position: fixed; bottom: 0rem; right: 1rem; opacity: 0.5;">PSST!: Frikk er sykt kul</p>
</body>
</html>